<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Venta de Tickets</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <swiper-container loop="true">
    <swiper-slide>
      <ion-card>

        <ion-card-header>
          <ion-title>Concierto en Vivo</ion-title>
        </ion-card-header><img src="assets/Imgs/carro1.jpg"  alt="Imagen 1">
        <ion-card-content>
          <p>Fecha: 15 de febrero, 2024</p>
          <p>Lugar: Teatro Principal</p>
          <p>Precio: $20.00</p>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card>
        <ion-card-header>
          <ion-title>Concierto en Vivo</ion-title>
        </ion-card-header>
        <img src="assets/Imgs/carro2.jpg" alt="Imagen 1">
        <ion-card-content>
          <p>Fecha: 15 de febrero, 2024</p>
          <p>Lugar: Teatro Principal</p>
          <p>Precio: $20.00</p>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>

      <ion-card>
        <ion-card-header>
          <ion-title>Concierto en Vivo</ion-title>
        </ion-card-header>
        <img src="assets/Imgs/carro3.jpg" alt="Imagen 1">
        <ion-card-content>
          <p>Fecha: 15 de febrero, 2024</p>
          <p>Lugar: Teatro Principal</p>
          <p>Precio: $20.00</p>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>

      <ion-card>
        <ion-card-header>
          <ion-title>Concierto en Vivo</ion-title>
        </ion-card-header>
        <img src="assets/Imgs/carro4.jpg" class="card-img" alt="Imagen 1">
        <ion-card-content>
          <p>Fecha: 15 de febrero, 2024</p>
          <p>Lugar: Teatro Principal</p>
          <p>Precio: $20.00</p>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <ion-button (click)="irAHome()">Ir Al Inicio</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title>© 2024 Venta de Tickets</ion-title>
  </ion-toolbar>
</ion-footer>