<ion-content [fullscreen]="true">
  <swiper-container loop="true"  pagination="true">
    <swiper-slide>
      <img src="assets/Imgs/carro1.jpg" alt="Imagen 1">
      <p class="slide-text">No te conformes con lo ordinario, atrévete a lo extraordinario. Nuestro carro te
        brinda la potencia, la velocidad y la adrenalina que buscas, con un estilo inconfundible y una calidad
        insuperable.</p>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/Imgs/carro2.jpg" alt="Imagen 2">
      <p class="slide-text">No te conformes con lo ordinario, atrévete a lo extraordinario. Nuestro carro te
        brinda la potencia, la velocidad y la adrenalina que buscas, con un estilo inconfundible y una calidad
        insuperable.</p>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/Imgs/carro3.jpg" alt="Imagen 3">
      <p class="slide-text">No te conformes con lo ordinario, atrévete a lo extraordinario. Nuestro carro te
        brinda la potencia, la velocidad y la adrenalina que buscas, con un estilo inconfundible y una calidad
        insuperable.</p>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/Imgs/carro4.jpg" alt="Imagen 4">
      <p class="slide-text">No te conformes con lo ordinario, atrévete a lo extraordinario. Nuestro carro te
        brinda la potencia, la velocidad y la adrenalina que buscas, con un estilo inconfundible y una calidad
        insuperable.</p>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/Imgs/carro5.jpg" alt="Imagen 5">
      <p class="slide-text">No te conformes con lo ordinario, atrévete a lo extraordinario. Nuestro carro te
        brinda la potencia, la velocidad y la adrenalina que buscas, con un estilo inconfundible y una calidad
        insuperable.</p>
    </swiper-slide>
  </swiper-container>
</ion-content>